.app_light_theme {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #024d02;
  --primary-color: #046d04;
  --secondary-color: #06b106;
  --inverted-primary-color: #fff;
  --inverted-secondary-color: #b1b1b6;
}
